APP_NAME="Rent Manager"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000

DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=rent_manager
DB_USERNAME=postgres
DB_PASSWORD=postgres

CACHE_DRIVER=file
QUEUE_CONNECTION=database
SESSION_DRIVER=database

SANCTUM_STATEFUL_DOMAINS=localhost
